/* font-family: 'Anybody', cursive; */
.titre{
    color: rgb(1, 184, 1);
    font-family: 'Anybody', cursive;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titre h1{
    font-size: 75px;
}
.image_green{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(22, 22, 22);
    font-family: 'Anybody', cursive;
}
.card{
    margin-top: 50px;
}
.q_green_it{
    color: rgb(1, 184, 1);
    font-family: 'Anybody', cursive;
    font-size: 75px;
    margin-top: 300px;
}
.definition{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.def{
    background-color: rgb(22, 22, 22);
    font-family: 'Anybody', cursive;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(165, 165, 165);
}
.pk_et_comment{
    background-color: rgb(22, 22, 22);
}
.div_pk_green{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.pk_green{
    color: rgb(1, 184, 1);
    font-family: 'Anybody', cursive;
    font-size: 75px;
    margin-top: 300px;
}
.liste_avc{
    font-family: 'Anybody', cursive;
    font-size: 15px;
    color: rgb(165, 165, 165);
}
.explication{
    font-family: 'Anybody', cursive;
    font-size: 15px;
    text-decoration: underline;
}
.vers_menu{
    text-decoration: none;
    color: rgb(1, 184, 1);
    background-color: rgb(48, 48, 48);
    padding: 10px;
    margin-left: 50px;
    border: rgb(48, 48, 48), solid, 1px;
    border-radius: 10px;
}
.test_bouton:hover{
    text-decoration: none;
}
footer{
    background: linear-gradient(rgb(22,22,22), rgb(82,82,82));
    padding-top: 10px;
}
body{
    background-color: rgb(48, 48, 48);
    padding-top: 72px;
}
.logo_green_it{
    height: 56px;
    width: 145px;
}
.lien_green_it{
    padding: 20px;
    margin-bottom: 20px;
}
html{
    background-color: rgb(82,82,82);
}
#logo_facebook, #logo_twitter{
    text-decoration: none;
    color: white;
}
.logo_twitter{
    display: flex;
    margin-top: 40px;
    margin-left: 50px;
}
.div_logo_greenit{
    display: flex;
}
.logo_fa{
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
}
.divdiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.div_navbar{
    background-color: rgb(22, 22, 22);
}
.navbar-brand{
    color: rgb(165, 165, 165);
}
header{
    background-color: rgb(22, 22, 22);
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Anybody', cursive;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.yo{
    background-color: rgb(22, 22, 22);
    font-family: 'Anybody', cursive;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(165, 165, 165);
    margin-left: 30px;
}
.logo_illustration{
    height: 25px;
    width: 25px;
}
#logo_panier, #logo_recyclage, #logo_ordinateur, #logo_code{
    height: 25px;
    width: 25px;
    color: rgb(165, 165, 165);
}
.div_caroussel{
    height: 600px;
    background-color: rgb(243, 0, 0);
    font-family: 'Anybody', cursive;
}
#carouselExampleCaptions{
    height: 600px;
}
#image_co2, #vrai_co2, #logo_yt{
    height: 600px;
}
.slide1, .slide2, .slide3{
    color: white;
    background-color: rgba(22,22,22,0.5);
    padding: 10px;
}