/* font-family: 'Anybody', cursive; */
.titre{
    color: rgb(1, 184, 1);
    font-family: 'Anybody', cursive;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.titre h1{
    font-size: 100px;
}
.image_green{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.carte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(22, 22, 22);
}
.card{
    margin-top: 50px;
}
.q_green_it{
    color: rgb(1, 184, 1);
    font-family: 'Anybody', cursive;
    font-size: 100px;
    margin-top: 300px;
}
.definition{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.def{
    background-color: rgb(22, 22, 22);
    font-family: 'Anybody', cursive;
    color: white;
    font-size: 40px;
}
.pk_et_comment{
    background-color: rgb(22, 22, 22);
}
.div_pk_green{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pk_green{
    color: rgb(1, 184, 1);
    font-family: 'Anybody', cursive;
    font-size: 100px;
    margin-top: 300px;
}
.liste_avc{
    font-family: 'Anybody', cursive;
    font-size: 30px;
}